appdirs>=1.4.3
argh==0.26.2
backports.weakref==1.0rc1
beautifulsoup4==4.5.3
bleach==1.5.0
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.3
click==6.7
cloudpickle==0.2.2
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.6
Flask==0.12
flexmock==0.10.2
ftfy==4.4.3
html5lib==0.9999999
idna==2.5
itsdangerous==0.24
Jinja2==2.9.5
Markdown==2.2.0
MarkupSafe==0.23
murmurhash==0.26.4
nltk==3.2.2
numpy==1.13.0
packaging==16.8
pathlib==1.0.1
pathtools==0.1.2
plac==0.9.6
preshed==1.0.0
protobuf==3.3.0
pyparsing==2.2.0
PyYAML==5.4
regex==2017.4.5
requests==2.17.0
scikit-learn==0.18.1
scipy==0.19.0
semver==2.7.5
six==1.10.0
spacy==1.8.2
sputnik==0.9.3
tensorflow==1.2.0
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.14.0
ujson==1.35
urllib3==1.21.1
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
wrapt==1.10.10
pip==9.0.3
